.nav{
    border-radius: 5px;
    color: var(--very-dark);        
}
.nav-item{
    padding: 10px 20px 10px 20px;
    font-size: 15pt;
    display: inline-block;
    border-radius: 5px;
    margin:3px;
    transition: all 0.2s ease-in-out;

}
.nav-item:not(.nav-selected)
{
    cursor: pointer;    
}
.nav-item:hover:not(.nav-selected){
    background-color: var(--medium);

}
.nav-selected{
    background-color: var(--dark);
    font-size: 15pt;
}