.input-container{
    display: inline-flex;
    flex-direction: row;
    align-content: stretch;
}

.input-container *{
    border-radius: 0;
}

.input-container *:not(:first-child){
    border-left: none;
}
.input-container *:first-child{
    border-radius: 5px 0 0 5px;
}

.input-container *:last-child{
    border-radius: 0 5px 5px 0; 
}

.input-container *:only-child{
    border-radius: 5px;
}

.pastel-button, .pastel-input{
    flex: 1;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 3px;
    background-color:var(--bright) ;
    border:2pt solid var(--dark);
    font-size: 13pt;
    text-align : center;
    outline-style: none;
    
}
.pastel-input{
    min-width: 0px;

}
.pastel-button{
    flex: 0;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}
.pastel-button:hover{
    background-color:var(--medium);
}

