
/* table coloring */
th{
    background-color: var(--medium);   
}

tr:nth-child(even){
    background-color: var(--bright);
}

/* table shape */
.pastel-table{
    margin:5px;
    margin-top: 10px;
    --radius: 13px;
    text-align: center;
    border-collapse:separate;
    overflow: hidden;
    border-spacing: 0;
}

.pastel-table td,.pastel-table th{
    padding: 10px;
    border: 2px solid var(--dark);
}

.pastel-table th,.pastel-table td{
    border-bottom-width: 0;
    border-left-width: 0;
}
.pastel-table tr:last-child td,.pastel-table tr:last-child td{
    border-bottom-width: 2px;
}

.pastel-table th:first-child,.pastel-table td:first-child{
    border-left-width: 2px;
}

.pastel-table tr:first-child th:first-child{
    border-radius:var(--radius) 0 0 0;
}

.pastel-table tr:first-child th:last-child{
    border-radius:0 var(--radius) 0 0;
}

.pastel-table tr:last-child td:first-child{
    border-radius:0 0 0 var(--radius);
}

.pastel-table tr:last-child td:last-child{
    border-radius:0 0 var(--radius) 0;
}